.leaderboard {
  width: 50rem;
}
.leaderboard-card,.left-info,.charity-info { height: 100%; }
.leaderboard-card {
  height: 5rem;
  border: 1px black solid;
  border-radius: .5rem;
  display: flex;
  justify-content: space-between;
  padding: .25rem;
  margin-bottom: .5rem;
}
.left-info {  
  display: flex;
  align-items: center;
  justify-content: start;
  width: 45%;
}
.charity-logo {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 100vw;
  margin-right: .5rem;
}
.charity-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.charity-name p {
  font-weight: 900;
  font-size: 1.75rem;
  margin: 0;
}
.charity-description p {
  font-weight: 100;
  font-size: 1rem;
  margin: 0;
}


.right-info {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.placement p {
  font-weight: 900;
  font-size: 3rem;
  margin: 0;
}
.votes {
  font-weight: 400;
  font-size: 1rem;
  transform: translateY(-.5rem);
  margin: 0;
}
