:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: #ffffff;
  background-color: #ffffff;
}

html {
  background-image: url(./assets/images/blue-1.jpg);
  background-repeat: no-repeat;
  background-position: top;
} 

body {
  margin-inline: 1rem;
  margin-top: 1rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.leaderboard {
  width: 50rem;
  box-shadow:  -.15rem .15rem 0 #082535;
  background: #164863;
  /* background: linear-gradient(358deg, rgba(22,72,99,1) 0%, rgba(66,125,157,1) 55%, rgba(155,190,200,1) 100%); */
  /* background-image: url(./assets/images/blue-2.jpg); */
  padding: 1rem;
  border-radius: .5rem;
  position: relative;
}
.productInfo {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 1rem;
}

@media only screen and (max-width: 1193px) {
  .leaderboard {
    width: 40rem;
    padding: .8rem;
  }
}
@media only screen and (max-width: 1030px) {
  .leaderboard {
    width: 30rem;
    padding: .6rem;
  }
}
@media only screen and (max-width: 860px) {
  .leaderboard {
    width: 95vw;
    padding: .4rem;
  }
  .productInfo {
    position: relative;
    margin-right: 1rem;
  }
}
.title {
  font-size: 3rem;
  display: inline;
  color: white;
  text-shadow: .1rem .1rem 0 #082535;
  user-select: none;
}
