:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: #ffffff;
  text-shadow:  .1rem .1rem 0 #BEADFA;
  background-color: #ffffff;
}

body {
  margin-inline: 1rem;
  padding: 0;
  display: flex;
  justify-content: center;
}
